{% assign achievements = site.data.data.sidebar.achievements %}
{% if achievements %}
  <div class="achievements-container container-block">

    <h2 class="container-block-title">
      {{ achievements.title }}
    </h2>

    {% for achievement in achievements.list %}
      <div class="item">
        <div>{{ achievement.description }}</div>
        {% if achievement.company %}
          <span class="meta">{{ achievement.company }}, {{ achievement.time }}</span>
        {% else %}
          <span class="meta">{{ achievement.time }}</span>
        {% endif %}
      </div>
    {% endfor %}

  </div>
{% endif %}
